@keyframes card-entrance-mobile {
  from {
    opacity: 0;
    scale: 0.97;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes card-exit-mobile {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.97;
  }
}

@keyframes card-entrance-desktop {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes card-exit-desktop {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-30px);
  }
}

.card-entrance-desktop {
  animation: card-entrance-desktop 0.25s both 0.1s;
}

.card-exit-desktop {
  animation: card-exit-desktop 0.25s both;
}

.card-entrance-animation-mobile {
  animation: card-entrance-mobile 0.2s both;
}
